[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MKclass"]
	path = MKclass
	url = https://github.com/stamats/mkclass
[submodule "MKdescr"]
	path = MKdescr
	url = https://github.com/stamats/mkdescr
[submodule "MKinfer"]
	path = MKinfer
	url = https://github.com/stamats/mkinfer
[submodule "MKmisc"]
	path = MKmisc
	url = https://github.com/stamats/mkmisc
[submodule "MKomics"]
	path = MKomics
	url = https://github.com/stamats/mkomics
[submodule "MKpower"]
	path = MKpower
	url = https://github.com/stamats/mkpower
[submodule "RFLPtools"]
	path = RFLPtools
	url = https://github.com/cran/RFLPtools
