[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "MKdescr"]
	path = MKdescr
	url = https://github.com/stamats/mkdescr
	shallow = true
	registered = true
